---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
	<img class="post-image" src="{{ page.image }}" title="Main image chosen for this page.">
	<figcaption>John McCormack in a performance of Mozart's *Don Giovanni*.</figcaption>
	<h2 class="post-category"><a href="/{{ page.category | slugify }}">{{ page.category }}</a></h2>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	  {%- if page.origdate -%}
	  <span class="origdate" title="Original date of publication.">
			  <time class="dt-published" datetime="{{ page.origdate | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.origdate | date: date_format }}
      		  </time>
	  </span>
      {%- endif -%}
	  <span class="page-creation" title="Date this page was created.">
      		  <time class="dt-created" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">
		{{ page.date | date: date_format }}
      		  </time>
	  </span>
      {%- if page.modified_date -%}
	  <span class="page-source" title="Date of the last uploaded modification.">
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
	  </span>
      {%- endif -%}
	  <br/>
      {%- if page.author -%}
        {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person" title="Author(s) of the main content of the page.">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
      {%- if page.editor -%}
        {% for editor in page.editor %}
          <span itemprop="editor" itemscope itemtype="http://schema.org/Person" title="Editor of the main text of the page.">
            <span class="p-editor h-card" itemprop="name">{{ editor }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
	  {%- if page.tags.size > 0 -%}
	    • {% for tag in page.tags %}<a href="{{ tag.url }}">{{ tag }}</a>
	    	{% unless forloop.last %}&nbsp;{% endunless %}
	  	  {% endfor %}
		  {% endif %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
